* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body {
  height: 100vh;
  display: grid;
  grid-template-columns: [col-1] 1fr [col-2] 1fr [col-3] 1fr;
  grid-template-rows: [row-1] 1fr [row-2] 1fr [row-3] 1fr;
  grid-gap: 15px 15px;
  justify-items: center;
  background: linear-gradient(rgb(47, 150, 163), rgb(26, 52, 199));
  font-family: sans-serif;
  color: white;
}

.song-info {
  height: 30vh;
  width: 50%;
  grid-column:  2 / 3;
  grid-row: 2 / 3;
  place-self: center;
}

.wikipedia-info {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
  place-self: center;
  }

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  background:black;
  }