<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="refresh" content="5" />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap"
      rel="stylesheet"
    />
    <link href="/assets/style.css" rel="stylesheet" />
    <title>Spotify Viewer</title>
  </head>
  </style>

  <body>
    <div id="background">
      <% if (songloaded) { %>
      <div id="background-overlay" style = 'background-image: linear-gradient(white, rgba(<%= color %>,1)'></div>
      <div id="background-blur"></div>

      <% } %>
      <nav>
        <div class="logo">
          <h4 >Spotify</h4>
        </div>
        <ul>
          <% if (user) { %>
          <li><a href="/auth/logout">Logout</a></li>
          <% } %> <% if (!user) { %>
          <li><a href="/auth/login">Login</a></li>
          <% } %>
          <li><a href="/" >Homepage</a></li>
        </ul>
      </nav>

      <header>
        <% if (!user) { %>
        <h2 style="font-weight:bold; margin-top: 20px; margin-bottom: 2px;">
          Sign in with Spotify to continue...
        </h2>
        <% } %> <% if (user && songloaded) { %>
        <img style="margin-top: 20px" src="<%= albumCover%>" />
        <h2 style="font-weight:bold; margin-top: 20px; margin-bottom: 2px;">
          <%= songTitle%>
        </h2>
        <h3 style="margin-top: 0px"><%= artistName%></h3>
        <% } %> <% if (user && !songloaded) { %>
        <h2 style="font-weight:bold; margin-top: 20px; margin-bottom: 2px;">
          Nothing Currently Playing
        </h2>
        <% } %>
      </header>
    </div>
  </body>
</html>
