body {
  height: 100%;
  margin: 0;
}

#background {
  background-image: url("fog.jpg");
  background-size: cover;
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: 1;
}

#background-blur {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(2px);
  opacity: 1;
  z-index: -2;
}

#background-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.65;
  
}


nav {
  opacity: 0.4;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 8px 6px -6px black;
  align-items: center;
  background: black;
  padding: 10px 20px;

}

nav:hover {
  opacity: 1;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 10%;

}

nav li {
  list-style-type: none;
  display: inline-block;
  margin: 0 10px;

}

nav a {
  color: #fff;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  letter-spacing: 2px;
  padding: 10px;
  display: block;
  
}

img {
  width: 500px;
  text-align: center;
  box-shadow: 0 8px 6px -6px black;
}

.logo {
  color: #ffff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;

  
}
.spotify-btn {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  background: darkgrey;
}



main, header {
  overflow-wrap: break-word;
  text-align: center;
  display: flex;
  max-width: 960px;
  margin: 30px auto;
  padding: 10 10px;
  color: white;
  mix-blend-mode: exclusion;
  flex-direction: column;
  width: 500px;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);



}



